
#header-top{
    background-image: url(img/pattern.png);
    background-size:contain;
    background-color:rgb(45, 142, 216);
}

#logo{
    margin-top: 30px;
    margin-left: 10px;
    width: 200px;
}

.intestazione{
    margin-bottom: 20px;
}

#titolo-articolo{
    margin-bottom: 0px;
}

#autore-articolo{
    color: grey;
    font-weight: bold;
}

#nome-autore{
    color:rgb(87, 169, 228);
}

#data{
    font-weight: normal;
}